[submodule "linux"]
    path = linux
    url = git@github.com:Nuclei-Software/linux.git

[submodule "buildroot"]
    path = buildroot
    url = git@github.com:Nuclei-Software/buildroot.git

[submodule "opensbi"]
    path = opensbi
    url = git@github.com:Nuclei-Software/opensbi.git

[submodule "freeloader"]
	path = freeloader
	url = git@github.com:malejo97/freeloader.git

[submodule "u-boot"]
	path = u-boot
	url = git@github.com:Nuclei-Software/u-boot.git

[submodule "bao-hypervisor"]
	path = bao-hypervisor
	url = git@github.com:malejo97/bao-hypervisor.git

[submodule "bao-baremetal-guest"]
	path = bao-baremetal-guest
	url = git@github.com:malejo97/bao-baremetal-guest.git
